###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*.local
/bin/*
!/bin/console
/config/secrets/*/*.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/.phpunit
/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
