<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        verbose="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        convertDeprecationsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        timeoutForLargeTests="120"
        bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="256M" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" /><!-- default: weak -->
        <!-- Secrets and Docker test container-->
        <env name="API_KEY" value="R7ypxA9vKz9Y" />
        <!-- Test fixture DB-->
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_NAME" value="dbname_test" />
        <env name="DB_USER" value="dbuser_test" />
        <env name="DB_PASSWORD" value="dbpwd_dev" />

        <!-- ###+ symfony/mailer ### -->
        <!-- MAILER_DSN=smtp://localhost -->
        <env name="MAILER_PASSWORD" value="not_needed" />
        <!-- ###- symfony/mailer ### -->

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=doctrine://default -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <!-- ###- symfony/messenger ### -->

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_SECRET" value="5b0d8bb6e520eca43310d48db57b8d31" />
        <!-- ###- symfony/framework-bundle ### -->
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <extensions>
        <!-- it begins a database transaction before every testcase and rolls it back after
            the test finished, so tests can manipulate the database without affecting other tests -->
        <!--
    -->
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
</phpunit>
